TravelWithMe/Service References/CarService/CarRental.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarRental" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar43.fulton.asu.edu/Page1/CarRental.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar43.fulton.asu.edu/Page1/CarRental.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar43.fulton.asu.edu/Page1/CarRental.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarRental_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICarRental_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICarRental_carFinder_InputMessage">
    <wsdl:part name="parameters" element="tns:carFinder" />
  </wsdl:message>
  <wsdl:message name="ICarRental_carFinder_OutputMessage">
    <wsdl:part name="parameters" element="tns:carFinderResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarRental">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarRental/DoWork" message="tns:ICarRental_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarRental/DoWorkResponse" message="tns:ICarRental_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="carFinder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarRental/carFinder" message="tns:ICarRental_carFinder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarRental/carFinderResponse" message="tns:ICarRental_carFinder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarRental" type="tns:ICarRental">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICarRental/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="carFinder">
      <soap:operation soapAction="http://tempuri.org/ICarRental/carFinder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarRental">
    <wsdl:port name="BasicHttpBinding_ICarRental" binding="tns:BasicHttpBinding_ICarRental">
      <soap:address location="http://webstrar43.fulton.asu.edu/Page1/CarRental.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>